@charset "UTF-8";
/* Clearfix by Nicolas Gallagher ============================ */
/* box-sizing */
/* border-radius */
/* background-size */
/* transition */
/* animations */
/* keyframes */
/* flex-box ================================================*/
/* display */
/* box-align */
/* box-pack */
/* flex-direction + flex-wrap = flex-flow */
/* justify-content */
/* box-orient */
/*==============================================================
*
* Base,
* is staff that is not unexpected and its also standard reset
*
*==============================================================*/
/* line 7, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/base/_base.scss */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/base/_base.scss */
body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1.5px;
}

/* line 15, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/base/_base.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

/* line 19, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/base/_base.scss */
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* line 24, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/base/_base.scss */
p {
  margin: 0;
  padding: 0;
}

/* line 28, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/base/_base.scss */
a {
  text-decoration: none;
  color: #ee932a;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

/* line 33, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/base/_base.scss */
a:active,
a:hover,
a:focus {
  color: #CCCCCC;
}

/* line 38, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/base/_base.scss */
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

/* Layout =================================================== */
/* line 45, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/base/_base.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*==============================================================
* Header
==============================================================*/
/* line 8, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/layout/_header.scss */
.header {
  width: 100%;
  height: auto;
  background: url("../images/png/footer_lodyas.png") repeat;
  position: relative;
}

/* line 14, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/layout/_header.scss */
.header .header-content {
  width: 91.66%;
  height: 60px;
  position: relative;
  margin: 0 auto;
}

/* line 20, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/layout/_header.scss */
.header .header-content .logo-wrapper {
  position: absolute;
  left: 0;
  top: 0px;
}

/* line 25, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/layout/_header.scss */
.header .header-content .form-wrapper {
  position: absolute;
  right: 0;
  top: 14px;
}

/* line 30, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/layout/_header.scss */
.header .header-content .top-cust-form li {
  float: left;
  padding: 5px;
  margin-right: 10px;
  border: 2px solid #ee932a;
}

/* line 36, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/layout/_header.scss */
.header .header-content .top-cust-form li:nth-child(1) {
  padding: 0;
}

/* line 39, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/layout/_header.scss */
.header .header-content .top-cust-form li:nth-child(1) .form {
  position: relative;
}

/* line 42, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/layout/_header.scss */
.header .header-content .top-cust-form li:nth-child(1) .form input[type="search"] {
  position: absolute;
  right: 0;
  font-size: 15px;
  padding: 5px 0 5px 5px;
  width: 180px;
  border: 2px solid #ee932a;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: width 0.4s ease-in-out;
  -moz-transition: width 0.4s ease-in-out;
  -o-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* line 52, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/layout/_header.scss */
.header .header-content .top-cust-form li:nth-child(1) .form input[type="search"]:hover {
  width: 300px;
}

/* line 55, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/layout/_header.scss */
.header .header-content .top-cust-form li:nth-child(1) .form input[type="search"]:focus {
  outline: none;
}

/* line 59, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/layout/_header.scss */
.header .header-content .top-cust-form li:nth-child(1) .form input[type="submit"] {
  position: absolute;
  right: 5px;
  top: 3px;
  padding: 3px 0;
  border: none;
  width: 20px;
  background: url("../images/png/search.png") center center no-repeat;
  -webkit-background-size: 15px;
  -moz-background-size: 15px;
  -o-background-size: 15px;
  background-size: 15px;
  z-index: 1;
}

/* line 70, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/layout/_header.scss */
.header .header-content .top-cust-form li:nth-child(1) .form input[type="submit"]:focus {
  outline: none;
}

/*==============================================================
* Navigation
==============================================================*/
/* line 4, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/layout/_nav.scss */
nav {
  width: 100%;
  background-color: #771100;
}

/* line 8, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/layout/_nav.scss */
nav ul {
  text-align: center;
}

/* line 11, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/layout/_nav.scss */
nav ul li {
  display: inline-block;
  padding: 20px;
}

/* line 15, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/layout/_nav.scss */
nav ul li a:hover {
  color: #f2f2f2;
}

/* line 19, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/layout/_nav.scss */
nav ul li:hover ul {
  display: block;
}

/* line 24, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/layout/_nav.scss */
nav ul ul {
  display: none;
  position: absolute;
  background-color: #771100;
  border: 3px solid #FF9900;
  margin-top: 20px;
  margin-left: -20px;
  z-index: 1;
}

/* line 33, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/layout/_nav.scss */
nav ul ul li {
  display: block;
}

/* line 1, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/layout/_footer.scss */
footer {
  background: url("../images/png/footer_lodyas.png") repeat;
  width: 100%;
  height: auto;
  padding-top: 20px;
  color: #ee932a;
  position: relative;
}

/* line 8, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/layout/_footer.scss */
footer .flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  /* Children should be oriented vertically */
  -moz-box-orient: horizontal;
  -webkit-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-flex-direction: row wrap;
  flex-direction: row wrap;
  -ms-justify-content: space-around;
  -moz-justify-content: space-around;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

/* line 13, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/layout/_footer.scss */
footer .flex-container .flex-item {
  width: 20%;
  margin: 0 1%;
  padding-left: 15px;
  padding-bottom: 15px;
  background-color: rgba(0, 0, 0, 0.1);
}

/* line 19, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/layout/_footer.scss */
footer .flex-container .flex-item .socialmedia li:nth-child(1),
footer .flex-container .flex-item .contactnum li:nth-child(1),
footer .flex-container .flex-item .adress li:nth-child(1),
footer .flex-container .flex-item .information li:nth-child(1) {
  text-transform: uppercase;
  font-weight: bold;
  padding: 30px 0 20px 0;
}

/* line 26, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/layout/_footer.scss */
footer .flex-container .flex-item .socialmedia li:not(:first-child) a:hover,
footer .flex-container .flex-item .contact-num li:not(:first-child):hover,
footer .flex-container .flex-item .adress li:not(:first-child):hover,
footer .flex-container .flex-item .information li:not(:first-child) a:hover {
  padding-bottom: 10px;
}

/* line 34, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/layout/_footer.scss */
footer .copyright {
  text-align: center;
  padding: 20px 0;
}

/*==============================================================
* Container
==============================================================*/
/* line 4, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/layout/_container.scss */
main {
  position: relative;
  width: 100%;
  background-color: gray;
}

/* line 9, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/layout/_container.scss */
section {
  position: relative;
  width: 100%;
  padding: 20px;
}

/* section i */
@-webkit-keyframes changeLetter {
  0% {
    content: "Ladda vår gratis templates!";
  }
  50% {
    content: "Ringa oss! 073-7805673";
  }
  100% {
    content: "Ge oss återkoppling!";
  }
}

@-moz-keyframes changeLetter {
  0% {
    content: "Ladda vår gratis templates!";
  }
  50% {
    content: "Ringa oss! 073-7805673";
  }
  100% {
    content: "Ge oss återkoppling!";
  }
}

@-o-keyframes changeLetter {
  0% {
    content: "Ladda vår gratis templates!";
  }
  50% {
    content: "Ringa oss! 073-7805673";
  }
  100% {
    content: "Ge oss återkoppling!";
  }
}

@keyframes changeLetter {
  0% {
    content: "Ladda vår gratis templates!";
  }
  50% {
    content: "Ringa oss! 073-7805673";
  }
  100% {
    content: "Ge oss återkoppling!";
  }
}

/* line 25, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/layout/_container.scss */
.class-banner {
  background: url("../images/jpeg/laptop.jpeg") top center repeat;
  height: 500px;
  letter-spacing: 3px;
  color: #CCCCCC;
  text-transform: uppercase;
  font-size: 200%;
  font-weight: bold;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 50vh;
}

/* line 39, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/layout/_container.scss */
.class-banner::after {
  font-size: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Open Sans", sans-serif;
  -webkit-animation-name: changeLetter;
  -webkit-animation-duration: 6s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0.2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-name: changeLetter;
  -moz-animation-duration: 6s;
  -moz-animation-timing-function: linear;
  -moz-animation-delay: 0.2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: alternate;
  -o-animation-name: changeLetter;
  -o-animation-duration: 6s;
  -o-animation-timing-function: linear;
  -o-animation-delay: 0.2s;
  -o-animation-iteration-count: infinite;
  -o-animation-direction: alternate;
  animation-name: changeLetter;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-delay: 0.2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  content: "";
  margin: 0;
}

/* section ii */
/* line 50, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/layout/_container.scss */
section:nth-child(2) {
  background-color: #f2f2f2;
}

/* line 53, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/layout/_container.scss */
section:nth-child(2) div {
  background-color: #ffffff;
  text-align: center;
  padding: 30px 0;
}

/* line 58, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/layout/_container.scss */
section:nth-child(2) h3 {
  padding: 30px 0;
  font-size: 300%;
  text-transform: uppercase;
  letter-spacing: 20px;
}

/* line 64, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/layout/_container.scss */
section:nth-child(2) ul {
  width: 300px;
  margin: 0 auto;
}

/* line 68, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/layout/_container.scss */
section:nth-child(2) ul li {
  padding-bottom: 10px;
  font-size: 25px;
  font-weight: 900;
  background: url(../images/svg/check.svg) no-repeat;
  text-align: justify;
  padding-left: 50px;
}

/* section iii */
/* line 81, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/layout/_container.scss */
section:nth-child(3) {
  background-color: #f2f2f2;
}

/* line 84, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/layout/_container.scss */
section:nth-child(3) div {
  background-color: #ffffff;
  padding: 30px;
  line-height: 150%;
}

/* section iv */
/* line 92, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/layout/_container.scss */
section:nth-child(4) {
  background-color: #f2f2f2;
}

/* line 94, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/layout/_container.scss */
section:nth-child(4) div {
  background-color: #fff;
  padding: 20px;
}

/* line 97, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/layout/_container.scss */
section:nth-child(4) div ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row wrap;
  flex-direction: row wrap;
  -ms-justify-content: space-between;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

/* line 101, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/layout/_container.scss */
section:nth-child(4) div ul li {
  background-color: #ee932a;
  width: 33%;
  margin: 0 auto;
  text-align: center;
  font-weight: 800;
}

/* line 108, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/layout/_container.scss */
section:nth-child(4) div ul li img {
  width: 30%;
  padding-bottom: 10%;
}

/* line 112, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/layout/_container.scss */
section:nth-child(4) div ul li img:not(.png) {
  width: 30%;
}

/* section v */
/* line 120, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/layout/_container.scss */
section:nth-child(5) {
  background-color: #f2f2f2;
}

/* line 123, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/layout/_container.scss */
section:nth-child(5) div {
  background-color: #fff;
  padding: 20px;
}

/* modal =========================================================*/
/* line 129, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/layout/_container.scss */
.modal {
  display: none;
  background-color: rgba(117, 18, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* line 139, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/layout/_container.scss */
.modal h3 {
  margin-bottom: 0;
  text-align: center;
  padding: 5px 0;
}

/* line 145, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/layout/_container.scss */
.modal-wrapper {
  background-color: #ffffff;
  -moz-border-radius: 20px;
  border-radius: 20px;
  width: 380px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -214px;
  overflow: hidden;
}

/* line 156, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/layout/_container.scss */
.modal-header {
  background-color: #eeeeee;
  padding: 10px 5px;
}

/* line 160, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/layout/_container.scss */
.modal-header a {
  font-size: 200%;
  position: absolute;
  right: 15px;
  top: 0;
  -webkit-transition: transform 2s ease-out;
  -moz-transition: transform 2s ease-out;
  -o-transition: transform 2s ease-out;
  transition: transform 2s ease-out;
  text-decoration: none;
  color: #ee932a;
}

/* line 169, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/layout/_container.scss */
.modal-header a:hover {
  transform: rotate(1turn);
}

/* line 174, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/layout/_container.scss */
.modal-content {
  padding: 15px;
}

/* line 177, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/layout/_container.scss */
.modal-content .form {
  margin: 0 auto;
}

/* line 180, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/layout/_container.scss */
.modal-content .form .form-field, .modal-content .form .form-submit {
  padding: 10px 4px;
}

/* line 183, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/layout/_container.scss */
.modal-content .form .form-field {
  border: none;
  margin: 0 auto;
  text-align: center;
}

/* line 188, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/layout/_container.scss */
.modal-content .form .form-field .form-label {
  font-weight: bold;
  text-align: justify;
  width: 100%;
  padding-bottom: 2px;
}

/* line 194, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/layout/_container.scss */
.modal-content .form .form-field .form-input {
  width: 100%;
  padding: 5px 0;
  background-color: #eee;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: solid 2px #eee;
  transition: border 0.3s;
}

/* line 203, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/layout/_container.scss */
.modal-content .form .form-field .form-input:focus {
  outline: none;
  border: 1px solid #ee932a;
}

/* line 209, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/layout/_container.scss */
.modal-content .form .form-submit {
  margin: 0 auto;
  text-align: center;
}

/* line 213, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/layout/_container.scss */
.modal-content .form .form-submit .btn {
  margin: 0 auto;
  text-align: center;
  background: #ee932a;
  border-bottom: 4px solid rgba(0, 0, 0, 0.1);
  -moz-border-radius: 40px;
  border-radius: 40px;
  color: #FFF;
  font-weight: bold;
  line-height: 3;
  height: 50px;
  width: 200px;
  transition: all 0.3s;
  border: 0;
}

/* line 227, C:/Users/JimmaBelle/Documents/GitHub/examensarbete/scss/layout/_container.scss */
.modal-content .form .form-submit .btn:active, .modal-content .form .form-submit .btn:focus, .modal-content .form .form-submit .btn:hover {
  background: #bd6c0f;
  color: #E3E3E3;
  outline: none;
}

/*# sourceMappingURL=../css/main.map */