/* Clearfix by Nicolas Gallagher ============================ */
@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

/* box-sizing */
@mixin box-sizing($box-sizing) {
    -webkit-box-sizing: $box-sizing;
       -moz-box-sizing: $box-sizing;
            box-sizing: $box-sizing;
}

/* border-radius */
@mixin border-radius($radius) {
	-moz-border-radius: $radius;
	     border-radius: $radius;
}

/* background-size */
@mixin background-size($size) {
  -webkit-background-size: $size;
  -moz-background-size: $size;
  -o-background-size: $size;
  background-size: $size;
}

/* transition */
@mixin transition(
	$property: $default-transition-property,
	$duration: $default-transition-duration,
	$function: $default-transition-timing-function,
	$delay: $default-transition-delay ) {
	-webkit-transition: $property $duration $function $delay;
       -moz-transition: $property $duration $function $delay;
         -o-transition: $property $duration $function $delay;
            transition: $property $duration $function $delay;
}

/* animations */
@mixin animation ($name, $duration, $timing, $delay, $count, $direction) {
    -webkit-animation-name: $name;
    -webkit-animation-duration: $duration;
    -webkit-animation-timing-function: $timing;
    -webkit-animation-delay: $delay;
    -webkit-animation-iteration-count: $count;
    -webkit-animation-direction: $direction;

    -moz-animation-name: $name;
    -moz-animation-duration: $duration;
    -moz-animation-timing-function: $timing;
    -moz-animation-delay: $delay;
    -moz-animation-iteration-count: $count;
    -moz-animation-direction: $direction;

    -o-animation-name: $name;
    -o-animation-duration: $duration;
    -o-animation-timing-function: $timing;
    -o-animation-delay: $delay;
    -o-animation-iteration-count: $count;
    -o-animation-direction: $direction;

    animation-name: $name;
    animation-duration: $duration;
    animation-timing-function: $timing;
    animation-delay: $delay;
    animation-iteration-count: $count;
    animation-direction: $direction;
}

/* keyframes */
@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

/* flex-box ================================================*/
/* display */
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

/* box-align */
@mixin alignbox($value) {
  -webkit-box-align: $value;
     -ms-flex-align: $value;
        align-items: $value;}

/* box-pack */
@mixin packbox($value) {
  -webkit-box-pack: $value;
     -ms-flex-pack: $value;
   justify-content: $value;}

/* flex-direction + flex-wrap = flex-flow */
@mixin flex-flow($value) {
  -webkit-flex-direction: $value;
          flex-direction: $value;}

/* justify-content */
@mixin justify-content($value) {
    -ms-justify-content: $value;
   -moz-justify-content: $value;
-webkit-justify-content: $value;
        justify-content: $value;}

/* box-orient */
@mixin box-orient($value) {
/* Children should be oriented vertically */
      -moz-box-orient: horizontal;
   -webkit-box-orient: horizontal;
           box-orient: horizontal;}

/* responsive design ================================================
// breakpoint screen widths
$large: 1390px;
$medium: 767px;
$small: 480px;
@mixin bp-large {
  @media only screen and (max-width: $large) {
    @content;
  }
}
@mixin bp-medium {
  @media only screen and (max-width: $medium) {
    @content;
  }
}
@mixin bp-small {
  @media only screen and (max-width: $small) {
    @content;
  }
}

@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}*/
