//color
$color-white: #ffffff;
$color-black: #000000;
$color-orange: #FF9900;
$color-lightOrange: #ee932a;
$color-cedarWoodFinish: #771100;
$color-dustyGray: #999999;
$color-gray: #CCCCCC;
$color-lightGray: #f2f2f2;
$color-blue: #66ccff;
$color-lightGreen: #96ceb4;

//font-family
$base-fontFamily: 'Open Sans', sans-serif;

//columns
$width-1: 8.33%;
$width-2: 16.66%;
$width-3: 25%;
$width-4: 33.33%;
$width-5: 41.66%;
$width-6: 50%;
$width-7: 58.33%;
$width-8: 66.66%;
$width-9: 75%;
$width-10: 83.33%;
$width-11: 91.66%;
$width-12: 100%;
